<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2>List of Owners</h2>

    <table class="table table-striped">
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet?.id}">123</td>
            <td th:text="${vet?.firstName}">Spring in Action</td>
            <td th:text="${vet?.lastName}">Wrox</td>
        </tr>
    </table>
</body>
</html>